@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
/* Utilitarios */
@import url('./utilidades/componentes.css');
@import url('./header.css');
/* HOME */
@import url('/css/home/home.css');
/* Destination */
@import url("/css/destination/destination.css");
/* Crew */
@import url('/css/crew/crew.css');
/* Technology */
@import url('/css/technology/technology.css');

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul{
  list-style: none;
}


.heading{
  max-width: 1300px;
  padding: 52px 0 0;
  margin: 0 auto;
}